<div ng-controller="registerController" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <form class="form-inline" name="registerF">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="lastName" placeholder="Lastname" ng-model="lastname" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email" required>
                </div>
                <div class="form-group">
                            <input type="text" class="form-control" id="usern" placeholder="Username" ng-model="username" required>
                </div>
                <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="registerF.$invalid" ng-click="register.registerInfo()">Sign Up!</button>
            </form>
        </div>
    </div>
</div>