<div class="panel-body">
    <div ng-controller="uploadController" class="container" ng-init="flagO()">
        <div ng-if="status == 200">
            <div class="alert alert-info" role="alert">Successfully published!</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Upload!</h3>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default btn-sm" ng-click="showme=false">From Album  <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="showme=true">Take Picture  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="wrapper">
                    <form class="form-inline" name="uploadF">
                        <div class="form-group">
                            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tagusers" placeholder="Tag a friend" ng-model="tag">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="geo" ng-model="enableGeo" ng-click="getGeo()"> Enable Geolocation!
                            </label>
                        </div>
                        <br>
                        <div id="archive" ng-hide="showme">
                            <div class="form-group">
                                <input type="file" class="form-control" id="file" ng-model="file">
                            </div>
                            <button type="button" class="btn btn-primary" ng-disabled="uploadF.$invalid" ng-click="uploadFile()" style="margin-left:70%">Upload!</button>
                        </div>
                        <div id="camera" ng-show="showme">
                            <button type="button" class="btn btn-primary" ng-click="takePicture()">Take Picture!!</button>
                            <button type="button" class="btn btn-primary" ng-disabled="uploadF.$invalid" ng-click="publish()">Publish!!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img ng-src="{{myImg.src}}" alt="" class="img-responsive">
    </div>
</div>
