<div ng-controller="uploadController" class="container" ng-init="geolocation()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <form class="form-inline" name="uploadF">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" required>
                </div>
                <div class="form-group">
                	<textarea class="form-control" id="desc" placeholder="Description" ng-model="description"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="tagusers" placeholder="Tag a friend" ng-model="tag">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" id="file" ng-model="file">
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="uploadF.$invalid" ng-click="upload.uploadFile()">Upload!</button>
            </form>
        </div>
    </div>
</div>