<div ng-controller="uploadController" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <form class="form-inline" name="uploadF">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="tagusers" placeholder="Tag a friend" ng-model="tag">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" id="file" ng-model="file">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="geo" ng-model="enableGeo" ng-click="getGeo()"> Enable Geolocation!
                    </label>
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="uploadF.$invalid" ng-click="uploadFile()">Upload!</button>
                <button type="button" class="btn btn-primary" ng-click="takePicture()">Take Picture!</button>
            </form>
        </div>
    </div>
    <div ng-if="status == 200">
        <div class="alert alert-info" role="alert">Successfully published!</div>
    </div>
    <img ng-src="{{myImg.src}}" alt="" class="img-responsive"></img
</div>
