<!--<div>
    <nav class="navbar navbar">
        <div class="container-fluid" ng-controller="homeController" ng-init="init()">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Buffaloo-Kangaroo</a>
            </div>
        </div>
    </nav>
</div>-->

<div class="panel panel-primary" ng-controller="homeController" ng-init="init()">
  <div class="panel-heading">
    <h6 style="font-size: 25px"><a style="color: white; text-decoration: none" href="#">Buffaloo-Kangaroo</a></h6>
  </div>
</div>



<div ui-view></div>






<!--<div class="panel panel-success" ng-controller="homeController" ng-init="init()>
  <div class="panel-heading">
    <h1 class="panel-title">Not So Social Network</h1>
  </div>
  <div class="panel-body">
    <div ui-view></div>
  </div>
</div>-->

